.App {
    font-family: 'Jost', sans-serif;
}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
}

.home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: #8a2be2;
    
}
.svgheader{
    margin-top: -8px;
}
#fast-foods {
    color: rgba(213, 237, 68, 1);
    font-size: 27px;
    margin-top: 35px;
    animation-name: gigiFastFoods;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: ease;
}
.bowl{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

@keyframes gigiFastFoods {
    0% {
        transform: rotate(0deg) translateX(0px)
    }

    25% {
        transform: rotate(-2deg) translateX(-3px)
    }

    50% {
        transform: rotate(2deg) translateX(3px);
    }

    75% {
        transform: rotate(0deg) translateX(0px);
        font-size: 29px;
    }

    100% {
        transform: rotate(0deg) translateX(0px);
    }
}

.navigation-buttons-div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: -10px;
    position: sticky;
    z-index: 2;
    top: -5px;
    border-bottom-right-radius: 60px;
}

.navigation-buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 46px;
    background-color: white;
    border-radius: 50%;
    margin-left: -17px;
}

.softdrink-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 54px;
    width: 113px;
    background-color: white;
    border-radius: 45px;
    font-size: 11px;
    font-weight: 500;
    color: grey;
    border: 1px solid rgb(206, 200, 200);
    margin-right: 6px;
    transition: 0.5s;
}

.softdrink {
    width: 33px;
    height: 33px;
    background-color: white;
}

.chips-smokie-main-container {
    width: 100%;
}

.fast-foods-main-container {
    width: 100%;
}

.food-sold-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-name-food-price-order-button {
    display: flex;
    margin-top: 5px;
}

#order-buttons-div {
    margin-left: 25px;
}

.home-main-body-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.chips-smokie-p-price-p-order-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

.chips-smokie-p-price-p {
    width: 140px;
    line-height: 3px;
}

#chips-smokie {
    margin-top: 10px;
    font-size: 15px;
    color: rgb(54, 52, 52);
}

#one-thirty {
    font-size: 13px;
    color: rgb(85, 79, 79);
}

.main-meal-order-button-div {
    width: 140px;
}
.order-buttons {
    background-color: rgba(213, 237, 68, 1);
    border: 1.1px solid rgb(195, 214, 84);
    color: rgba(144, 131, 131, 1);
    font-family: 'Jost', sans-serif;
    border-radius: 40px;
    width: 110px;
    height: 46px;
    border-radius: 40px;
}
.icons{
    height: 12px;
    width: 12px;
}
.order-buttons:hover {
    animation: animate 0.3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg) translateX(0px)
    }

    25% {
        transform: rotate(-8deg) translateX(-5px)
    }

    50% {
        transform: rotate(0deg) translateX(0px)
    }

    75% {
        transform: rotate(8deg) translateX(5px)
    }

    100% {
        transform: rotate(0deg) translateX(0px)
    }
}

.main-meals-sold-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 55px;
    width: 96%;
    margin-left: 2%;
}

.main-meals-sold {
    width: 325px;
    height: 190px;
    border-radius: 15px;
}

#ugali-fish-main-container {
    margin-top: -20px;
    margin-bottom: 30px;
}

.food-sold-container {
    margin-bottom: 50px;
}

.foods-sold {
    height: 190px;
    width: 325px;
    border-radius: 20px;
}

.food-name-food-price-order-button p {
    line-height: 3px;
    margin-top: 8px;
}

/* COMPLETEORDERBUTTON */
.cart-orders-button {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(212, 231, 95, 1);
    width: 360px;
    height: 60px;
    border: 1px solid rgb(195, 212, 79);
    border-radius: 50px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    position: fixed;
    left: 50%;
    z-index: 2;
    bottom: 1%;
    color: rgb(173, 143, 143);
    transform: translateX(-50%);
    font-size: 12px;
}
#order-quantity-div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#order-right-arrow-div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proceed-to-order-div {
    opacity: 0;
    transition: opacity 0.5s;
}
  
.proceed-to-order-div.show {
    opacity: 1;
}

#order-button-arrow {
    font-size: 30px;
    margin-right: -10px;
    color: rgb(201, 153, 153);
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.empty-cart{
    width: 100px;
    height: 100px;
}
.empty-cart-anaimation {
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #AD8F8F;
    font-weight: 500;
    font-size: 14px;
}

#inputValue {
    margin-top: 40px;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    width: 190px;
    position: relative;
    margin-top: 5px;
    width: 100%;
}

.input-container {
    display: flex;
    width: 100%;
    margin-right: 20px;
}

#form {
    display: flex;
}

#input-amount-container {
    width: 350px;
    margin-top: 20px;
}

.income-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 40px;
    margin-top: 4px;
    border-radius: 15px;
    border: 1px solid rgb(164, 164, 192);
    background-color: rgb(224, 226, 97);
    color: rgb(117, 117, 126);
    font-size: 20px;
    box-shadow: 0 1px 2px 0 rgb(167, 157, 157);

}
.income-add-button:hover {
    animation: animate 0.3s;
}

#income-amount {
    width: 80px;
    height: 45px;
    margin-right: 15px;
    margin-top: 2px;
}

#income-input {
    width: 180px;
    height: 50px;
    margin-right: 20px;
}

.dropdown-container input {
    width: 100%;
    padding: 0;
    border-width: 1px;
    height: 36px;
    padding-left: 13px;
    box-sizing: border-box;
    border: 2px solid rgb(151, 145, 145);
}

.option {
    height: 30px;
    border-bottom: 1px solid rgb(179, 163, 163);
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    background-color: white;
}

/* CompleteOrder */
.CompleteOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.order-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-bottom: 5px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 15px;
    border: 1px solid rgb(224, 224, 221);
}

.order-container tr {
    width: 100%;
    border: 1px solid rgb(186, 204, 70);
}

.order-container td {
    color: rgb(54, 50, 50);
    font-size: 14px;
    text-align: left;
}

#order-table-row {
    margin-bottom: 30px;
}

#order-table {
    margin-left: 7%;
    width: 90%;
}

.update-quantity-buttons {
    align-items: center;
    border-radius: 10px;
    width: 35px;
    height: 25px;
    color: grey;
    border: 1px solid rgba(193, 180, 180, 1);
    background-color: white;
}

.complete-order-button {
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: completeOrderAnimate;
    animation-duration: 0.3s;
    animation-delay: 1.2s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 92vw;
    height: 55px;
    background-color: rgba(212, 231, 95, 1);
    border: 1px solid rgb(195, 212, 79);
    border-radius: 50px;
    color: rgb(173, 143, 143);
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 12px;
}

@keyframes completeOrderAnimate {
    0% {
        transform: rotate(0deg) translateX(0px)
    }

    25% {
        transform: rotate(0deg) translateX(-4px)
    }

    50% {
        transform: rotate(0deg) translateX(0px)
    }

    75% {
        transform: rotate(0deg) translateX(4px)
    }

    100% {
        transform: rotate(0deg) translateX(0px)
    }
}

#total-and-amount td{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(105, 104, 104);
}

.back-arrow-buttons {
    width: 100px;
    height: 50px;
    color: rgb(155, 128, 128);
    font-size: 25px;
    background-color: white;
    border: none;
    margin-left: 9px;
    margin-top: 5px;
    text-align: left;
}

.OrderComplete {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.OrderComplete p {
    animation-name: orderCompleteAnimation;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    margin-top: 100px;
    color: rgb(54, 209, 223);
    font-size: 34px;
    font-weight: 700;
}

@keyframes orderCompleteAnimation {
    from {
        font-size: 8px;
    }

    to {
        font-size: 34px;
    }
}

/* .back-to-main-page {
    animation-name: backHomeAnimate;
    animation-duration: 0.4s;
    animation-delay: 4s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86vw;
    height: 60px;
    border-radius: 40px;
    border: 1px solid #8a2be2;
    background-color: white;
    color: #8a2be2;
    font-weight: 400;
    font-size: 14px;
    
} */

@keyframes backHomeAnimate {
    0% {
        transform: rotate(0deg) translateX(0px)
    }

    25% {
        transform: rotate(0deg) translateX(-4px)
    }

    50% {
        transform: rotate(0deg) translateX(0px)
    }

    75% {
        transform: rotate(0deg) translateX(4px)
    }

    100% {
        transform: rotate(0deg) translateX(0px)
    }
}

.tick {
    width: 280px;
    height: 280px;
    margin-top: -26px;
}
#orders-page-back-arrow{
    z-index: 2;
    background-color: transparent;
    margin-bottom: -50px;
    
}
.orders-page-back-arrow-div{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}

/* AVAILABLE DRINKS SECTION */
.available-drinks-main-container {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(247, 245, 245);
    box-shadow: inset 1px 2px 8px rgba(224, 221, 221, 0.5);
    margin-top: 30px;
}

.available-drinks-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.available-drinks-button {
    width: 80px;
    height: 50px;
    margin-right: 12px;
    border-radius: 30px;
    background-color: rgb(247, 245, 245);
    font-weight: 600;
    font-size: 12px;
    color: rgb(63, 61, 38);
}
#available-drinks-button-soda {
    margin-left: 15px;
}

.drinks-sold-main-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 29px;
    background-color: rgb(240, 236, 236);
    box-shadow: 0 0 4px rgb(221, 217, 217);
}

.drink-name-drink-price-drink-description-order-button {
    margin-top: 15px;
    margin-left: 7px;
    width: 30%;
}

.drink-name-drink-price-drink-description-order-button p {
    line-height: 8px;
}

.drinks-order-button-div {
    margin-left: 15px;
}

.drinks-order-button-div button {
    width: 100px;
    height: 50px;
    margin-top: 35%;
}

.drinks-sold {
    width: 106px;
    height: 100px;
    border-radius: 26px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: -12px;
}

.drinks-page-white-space {
    width: 100%;
    overflow: hidden;
    background-color: rgb(247, 245, 245);
    height: 10px;
    margin-top: 70px;
}


/* HOME FOOTER DIV */
.home-footer-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    line-height: 2px;
    padding: 30px;
    overflow: hidden;
    background-color: rgb(56, 54, 54);
    color: rgb(145, 139, 139);
    margin-top: -40px;
    font-size: 12px;
}

#manage {
    background-color: rgb(56, 54, 54);
    border: none;
    color: rgb(145, 139, 139);
    height: 30px;
    margin-left: -6px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
}

.social-media-icons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(145, 139, 139);
    width: 150px;
}

.social-media-icons-div {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* GOOGLE MAPS */
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(176, 179, 174); */
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}
.google-map-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.location-and-delivery-time{
    
    width: 63vw;
    margin-top: -30px;
    line-height: 5px;
    text-align: left;
    padding-top: 2px;
    z-index: 2;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: white;
}
.location-and-delivery-time p{
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: grey;
    font-size: 13px;
}

/* EMPLOYEE PAGE INCOME */
.Employee-Page-Orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(88, 81, 81, 1);
}

.orders-income-expense-div {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.orders-income-expense-div button {
    margin-right: 12px;
    width: 110px;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-weight: 600;
    font-size: 13px;
    box-shadow: 0 2px 2px 0 rgb(48, 47, 47);
}

.orders-main-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    background-color: rgba(255, 254, 254, 1);
    align-items: center;
}

#employee-page-back-button {
    background-color: rgba(88, 81, 81, 1);
    color: rgba(212, 212, 212, 1);
    margin-top: 4px;
}

.orders-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(224, 221, 221);
    width: 90%;
    height: 70px;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
}
.details-button{
    background-color: rgba(246, 246, 246, 1);
    width: 30vw;
    height: 45px;
    border-radius: 35px;
    border: 1px solid #8a2be2;
    color: #8a2be2;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-top: -20px;
    font-size: 11px;
}

.orders-container-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}
.orders-container-bottom{
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
}
.orders-container-time{
    display: flex;
    width: 90%;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: -10px;
    font-size: 10px;
    color: grey;
}
.orders-container-bottom p{
    font-size: 14px;
}
.orders-container-ordernumber-amount {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.orders-container-ordernumber-amount p {
    color: rgb(77, 65, 65);
}

.orders-container-details-button-container {

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 35%;

}

.orders-container-details-button {
    height: 45px;
    width: 100px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: rgba(212, 231, 95, 1);
    border: 1px solid rgb(202, 219, 93);
    color: rgb(139, 101, 101);
    font-weight: 700;
    box-shadow: 0 1px 3px 0 rgb(197, 190, 190);

}

/* Employee-Page-Income */
.Employee-Page-Income {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;
    width: 96%;
    margin-left: 2%;
}

.input-container input {
    border-radius: 18px;
}

/* ADMIN PAGE */
.AdminPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(88, 81, 81, 1);
}

.admin-page-top-flex-container {
    background-color: rgba(88, 81, 81, 1);
    display: flex;
    flex-direction: column;
}
.admin-page-online-orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 0.5px solid rgb(160, 160, 83);
    border-radius: 10px;
    width: 82vw;
    padding: 20px;
}
.admin-page-online-orders table td, th{
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}
.admin-page-online-orders th {
    font-size: 12px;
    color: grey;
    font-weight: 500;
    padding-left: 20px;
}
.monthly-statements-container table td,th{
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.monthly-statements-container th{
    font-size: 12px;
    padding-bottom: 2px;
    color: grey;
    font-weight: 500;
}
.monthly-statements-container p, .order-types-and-expenses-main-container p{
    color: #8dab29;
    font-size: 14px;
    font-weight: 500;
    margin-top: -1px;
    text-align: right;
    margin-right: 15px;
}
.monthly-statements-container{
    border: 1px solid rgb(216, 212, 212);
    border-radius: 20px;
    width: 80vw;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}
.admin-page-back-button-and-amount-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

#admin-page-back-button {
    background-color: rgba(88, 81, 81, 1);
    color: rgba(212, 212, 212, 1);
    margin-top: 4px;
    padding-left: 40px;
    margin-left: -25px;
}
.today-amount {
    line-height: 0px;
    margin-top: 7px;
}
#logout-button{
    display: flex;
    align-items: center;
    background-color: rgba(88, 81, 81, 1);
    height: max-content;
    font-size: 10px;
    margin-top: 10px;
    margin-right: 10px;
    color: rgb(173, 163, 163);
    /* border: 0.2px solid rgb(173, 163, 163); */
    border: none;
    border-radius: 5px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 8px;
}

.business-today-and-statements-container {
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-today-and-statements-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 165px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 40px;
    border: 1px solid rgba(95, 86, 86, 1);
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 2px 2px 0 rgb(48, 47, 47);
}

.order-types-and-expenses-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 254, 254, 1);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-bottom: 30px;
    margin-bottom: -2px;
}

.order-types-and-expenses-button-container button {
    margin-right: 10px;
    margin-left: 0px;
    width: 110px;
    height: 44px;
    border-radius: 40px;
    background-color: rgba(255, 254, 254, 1);
    border: 1.1px solid rgb(211, 211, 204);
    font-weight: 500;
    color: rgb(121, 116, 116);
    font-size: 12px;
    margin-top: 20px;
    font-size: 11px;
}

.order-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#date-dropdown {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 100px;
    border: 0.5px solid gray;
    margin-left: 10px;
    margin-top: -15px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
}
#month-dropdown{
    position: absolute;
    background-color: white;
    width: 130px;
    height: 100px;
    border: 0.5px solid gray;
    margin-top: -15px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
}
#date-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#date-list li {
    padding: 10px;
    border-bottom: 1px solid gray;
}
.kitten{
    margin-top: 70px;
    width: 150px;
    height: 150px;
    animation-name: gigiFastFoods;
    animation-duration: 0.5s;
    animation-delay: 0s;
}
.penguin{
    width: 180px;
    height: 180px;
    margin-top: 120px;
    animation-name: gigiFastFoods;
    animation-duration: 0.6s;
    animation-delay: 0.5s;
}
.cooking{
    width: 130px;
    height: 130px;
}
.cooking-div{
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: white;
    width: 76%;
    height: 170px;
    border-radius: 15px;
    margin-top: 10px;
    border: 1px solid rgb(223, 218, 218);
    /* box-shadow: inset 3px 3px 10px rgba(236, 234, 234, 0.5); */
    position: absolute;
    z-index: 1;
    left: 50%;
    animation: floatingAnimation 2s ease-in-out infinite;
}

@keyframes floatingAnimation {
0% {
    transform: translate(-50%, -2%);
}
50% {
    transform: translate(-50%, -7%);
}
100% {
    transform: translate(-50%, -2%);
}
}
.main-meals-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    margin-top: -10px;
}
.main-meals-div img{
    width: 28px;
    height: 28px;
    margin-top: -7px;
}
.main-meals-div p{
    color:#8dab29;
    font-size: 17px;
    
}
.main-meals-div-container{
    display: flex;
    justify-content: center;
    height: 210px;
    /* background-color: #8a2be2; */
}
.dropdown-container-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown{
    width: 200px;
    border: 0.5px solid grey;
    overflow-y: scroll;
    height: max-content;
    border-radius: 10px;
    margin-top: 3px;
}
.expand-button-div{
    display: flex;
    margin-top: 15px;
    margin-bottom: -20px;
    align-items: center;
    justify-content: center;
}
.expand-button-div button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #8a2be2;
    font-size: 12px;
    height: 40px;
    font-weight: 500;
    letter-spacing: 0.6px;
    background-color: white;
}
.meal-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.meal-div p{
    color: grey;
}
.meal{
    width: 50px;
    height: 55px;
    margin-left: 4px;
    margin-right: 4px;
}
.panda{
    height: 90px;
    width: 90px;
}
.panda-circle-and-square{
    display: flex;
    justify-content: space-between;
    margin-bottom: -100px;
}
.panda-circle{
    height: 170px;
    width: 170px;
    margin-left: 35px;
    border: 1px solid #8ba109;
    border-radius: 50%;
}
.panda-square{
    background-color: #8a2be2;
    height: 10px;
    width: 10px;
    margin-top: 130px;
    margin-right: 50px;
}
.circle-div{
    display: flex;
    justify-content: flex-end;
    
}
.circle{
    height: 170px;
    width: 170px;
    margin-bottom: -100px;
    margin-right: 10px;
    border: 1px solid #8a2be2;
    border-radius: 50%;
}
.two-circles-div{
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
    padding-top: 30px;
}
.first-circle{
    border: 2px solid rgb(153, 212, 14);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 50px;
}
.second-circle{
    border: 1px solid #8a2be2;
    background-color: #8a2be2;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 70px;
    margin-top: -25px;
}
.panda-container{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
.panda-container p{
    color: grey;
}
.date-dropdown-div{
    width: 100%;
    display: flex;
}
.dateopendiv{
    width: 60%;
}
.monthopendiv{
    width: 40%;
}
.diver{
    width: 60px;
    height: 60px;
}
.section-heading{
    text-align: left;
    padding-left: 30px;
    color: rgb(158, 182, 26);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: -10px;
    padding-top: 10px;
}
.ordersInOrderDetailsDiv{
    border: 1px solid rgb(226, 226, 226);
    padding: 20px;
    border-radius: 20px;
    width: 80vw;
    margin-top: 50vh;
}
.ordersInOrderDetailsDiv table td{
    text-align: left;
    padding-left: 15px;
    width: min-content;
    font-size: 16px;
}
.ordersInOrderDetailsDiv table th{
    font-size: 12px;
    color: grey;
    font-weight: 500;
}
.rejectOrConfirmDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 90vw;
}
.deliveredDiv{
    display: flex;
    align-items: center;
    width: 90vw;
}
.rejectButton{
    width: 32vw;
    height: 60px;
    background-color: white;
    border: 1px solid #8a2be2;
    border-radius: 30px;
    color: #8a2be2;
    font-size: 15px;
}
.confirmAndDeliveredButton{
    width: 45vw;
    box-shadow: 0 1px 2px 0 rgb(167, 157, 157);
    height: 60px;
    background-color: #8a2be2;
    border: 1px solid #8a2be2;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    transition: 0.5s;
}
.loading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: space-between;
}
.loading-container p{
    font-size: 14px;
    color: #96aa17;
    margin-top: 70px;
    text-align: center;
}
.loading{
    width: 200px;
    height: 200px;
    margin-bottom: 300px;
}
.otp-verification{
    display: flex;
    height: 86vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#otp-verification-code-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.otp-top-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    text-align: left;
    height: 10vh;
}
.otp-bottom-div{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.otp-bottom-div h3{
    color: rgb(90, 87, 87);
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
    margin-left: 20px;
    line-height: 25px;
    width: 70vw;
}
.form-full{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 71vh;
    width: 100vw;
}
.phone-number-input{
    display: flex;
    width: 60vw;
    padding-left: 20px;
    border-radius: 20px;
    font-size: 14px;
    border: 1.2px solid rgb(194, 192, 86);
    margin-left: -40px;
}
.country-code{
    width: 12vw;
    display: flex;
    padding-left: 6vw;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #d5d6d3;
    color: grey;
}
.input-div{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 50px;
    margin-left: -5px;
}
.phone-animation-div{
    width: 20px;
    height: 20px;
    margin-right: 18px;
    margin-top: 7px;
}
.loading-animation-div{
    width: 20px;
    height: 20px;
}
.order-complete-back-arrow-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
.order-complete-back-arrow-div div{
    margin-right: 20px;
}
.manage-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
#manage-main-container-heading{
    color: rgb(159, 184, 51);
    margin-bottom: -20px;
}
#admin-login-div p, #user{
    color: rgb(159, 184, 51);
    font-size: 12px;
    text-align: left;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: flex-start;
}
.manage-main-container label{
    color: grey;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 5px;
}
.manage-main-container div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    margin-top: 40px;
}
.manage-main-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}
.manage-main-container form button{
   background-color: #8a2be2;
   height: 50px;
   border-radius: 40px;
   margin-top: 20px;
   border: none;
   color: white;
   box-shadow: 0 1px 2px 0 rgb(167, 157, 157);
}
.manage-main-container form input{
    height: 40px;
    border-radius: 20px;
    border: 0.5px solid grey;
    padding-left: 20px;
}
.logout-icon{
    margin-left: 2px;
}
.admin-page-loading-div{
    margin-top: 150px;
}
.location-gif-div{
    width: 33px;
    height: 22px;
    margin-top: -4px;
}